.sentimentSelector {
  text-align: center;
  margin-bottom: 5px;

  div {
    color: #a2a2a2;
    margin: 5px 5px;
    font-size: 14px;
    padding: 5px 5px;
    display: inline-block;
  }
  div:hover {
    cursor: pointer;
    border-bottom: 2px solid #5a5a5a;
    color: #5a5a5a;
  }

  .selected {
    border-bottom: 2px solid #000;
    color: black;
  }
}
